/*
  Colors and constants used in the app

  To use e.g. the dark gray color you write var(--dark-gray) in your css where
  you want it. It's already imported in index.js, so you don't have to.
*/

:root {
  --light-gray: #efefef; /* background color */
  --gray: #a7a7a7; /* Used for help text, etc. */
  --dark-gray: #757575; /* primary gray color*/
  --yellow: #f8d030; /* Used for star */
  --white: #fff; /* Used for background in cards */

  /* Max width of the content on the page*/
  --max-width: 50rem;

  /* Fonts */
  --raleway: "Raleway", sans-serif; /* Standard font */
  --roboto: "Roboto", sans-serif; /* Roboto is used for all numbers */
}
